<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	#parse("/WEB-INF/views/common/head.html")
</head>
<body>
<form action="../user/add"  id="userform" class="form" method="post">
		<table cellspacing="0" cellpadding="0" class="tblBookRec">
			<tr class="line">
				<td>用户名:<input name="username" /></td>
				<td>真实姓名:<input name="realname" /></td>
				<th>用户类型:
					
				</th>
				<th>角色类型:
				</th>
				<th>初始密码:<input name="password" value="123456" /></th>
			</tr>
			<a onclick="submit()" href="javascript:void(0);" id="save">保存</a><a>取消</a>
		</table>
	</form>
</body>
<script>
$(function(){
	if('$!error'=='1'){
		$("#save").hide();
		alert("当前登录用户没有新增用户权限,请用管理员身份登录！");
	}
});
	function submit(){
		$("#userform").submit();
	}
</script>
</html>