#parse("/WEB-INF/views/common/head.html")
#if( $!error == '1' )
<div class="msg msg-error">当前登录用户没有新增用户权限,请用管理员身份登录！</div>
#else
<form id="user-form" method="post" action="/user/add">
    <div>
        <label for="username">&nbsp;&nbsp;用户名:</label>
        <input class="easyui-validatebox" type="text" name="username" data-options="required:true" />
    </div>
    <div>
        <label for="username">真实姓名:</label>
        <input class="easyui-validatebox" type="text" name="realname" />
    </div>
    <div>
        <label for="usertype">用户类型:</label>
        <select name="" class="easyui-validatebox">
        	<option value="">test</option>
        </select>
    </div>
     <div>
        <label for="roletype">角色类型:</label>
        <select name="" class="easyui-validatebox">
        	<option value="">test</option>
        </select>
    </div>
    <div>
        <label for="password">初始密码:</label>
        <input class="easyui-validatebox" type="text" name="password" data-options="required:true" value="123456"/>
    </div>
    <div>
    	<input type="submit" value="保存">
    </div>
</form>
#end
<script type="text/javascript" src="/js/module/user.js"></script>
#parse("/WEB-INF/views/common/footer.html")