<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	#parse("/WEB-INF/views/common/head.html")
	</head>
	<body>
	<table cellspacing="0" cellpadding="0" class="tblBookRec">
					<tr class="line">
						<th>用户名</th>
						<th>真实姓名</th>
						<th>创建时间</th>
						<th>状态</th>
					</tr>
					 #foreach($!user in $!page.data )
						<tr class="line" >
							<td class="c3">$!user.username </td>
							<td class="c2">$!user.realname </td>
							<td class="c1">$!user.regtime</td>
							<td class="c2">$!user.status </td>
							<td class="c2"><a href="javascript:void(0);" onclick="grantRole($!{user.id})" >授予角色</a></td>
						</tr>
					#end
					#if($!${page.data} == 0 )
				        <tr>
				            <td colspan="8">没有找到记录</td>
				        </tr>
				    #end
				</table>
				<div class="comm_page">
					<page:pagination controller="../user" action="list" page="$!page" params="$!param" />
				</div>
				
				<div style="display: none;" id="userRoleDiv">
					<form action="../user/grantrole"
					method="post" id="userRoleform">
					 <input type='checkbox' name='roleIds' />1
					 <input type='checkbox' name='roleIds' />1
					 <input type='checkbox' name='roleIds' />1
					</form>
				</div>
	</body>
	
<script>
</script>
</html>