<div class="pageContent">
#if( $!error != '' )
<span>数据异常，您选择的用户不存在或无效！</span>
#else
<form method="post" action="/user/update" class="pageForm required-validate" onsubmit="return validateCallback(this)">
    <div class="pageFormContent nowrap" layoutH="97">
        <input type="hidden" name="id" value="$!user.id "/>
        <dl>
            <dt>用户名:</dt>
            <dd>
                <input type="text" name="username" maxlength="20" class="required" value="$!user.username"/>
            </dd>
        </dl>
        <dl>
            <dt>真实姓名:</dt>
            <dd>
                <input type="text" name="realname" maxlength="20" class="required" value="$!user.realname"/>
            </dd>
        </dl>
        <dl>
            <dt>用户类型:</dt>
            <dd>
                <select class="combox" name="test" maxlength="20" >
                    <option value="1">1</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>角色类型:</dt>
            <dd>
                <select class="combox" name="test" maxlength="20" >
                    <option value="1">1</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>初始密码:</dt>
            <dd>
                <input type="text" name="password" maxlength="20" class="required" value="123456"/>
            </dd>
        </dl>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
</div>

