<form id="pagerForm" method="post" action="/user/list">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="" />
</form>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/user/toadd" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="/user/toupdate?userid={uid}" target="dialog" warn="请选择一个用户"><span>修改</span></a></li>
			<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="/user/del" class="delete"><span>删除</span></a></li>
		</ul>
	</div>
	<div id="w_list_print">
		<table class="list" width="98%" targetType="navTab" layoutH="53">
			<thead>
				<tr>
					<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
					<th width="120">用户名</th>
					<th width="150">用户类型</th>
					<th width="150">所在单位</th>
					<th width="200">单位所在地区</th>
					<th width="150">注册时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				#foreach($!user in $!page.data )
				<tr target="uid" rel="$!{user.id}">
					<td><input name="ids" value="$!{user.id}" type="checkbox"></td>
					<td>$!user.username</td>
					<td>$!user.userTypeName</td>
					<td>$!user.hospitalName</td>
					<td>$!user.hospitalAddress</td>
					<td>$dateTool.format("yyyy-MM-dd HH:mm:ss", $!user.regtime)</td>
					<td>$!user.userStatus</td>
					<td>
						<a href="javascript:void(0);">授予角色</a>
					</td>
				</tr>
				#end
				#if($!${page.data} == 0 )
				<tr>
					<td colspan="5">没有找到记录</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>
	#parse("/WEB-INF/views/common/pager.html")
</div>