#if( $!error != '' )
<span>数据异常，您选择的用户不存在或无效！</span>
#else
<form method="post" action="/user/updaterole" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
    <div class="pageFormContent" layoutH="56">
        <input type="hidden" name="id" value="$!user.id "/>
        <p>
            <label>用户名：</label>
            $!user.username 
        </p>
        <p>
            <label>角色类型：</label>
             #foreach($!role in $!roleList )
             <span class="checkbox-wrap">
	                <input type="checkbox" class="required" name="roleIds" value="$!role.id">$!role.rolename
             </span>
             #end        
        </p>
    </div>
 
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end

    <script>
    	$(function(){
    		 $('input[type="checkbox"][name="roleIds"]').each(
    				 function() {
    					 var roleIds=${user.roleIds};
	    				 for(var i=0;i<roleIds.length;i++){
	    					 if($(this).val()==roleIds[i]){
	    						 $(this).attr("checked", true); 
	    					 }
	    				 }
    				 }
    	       );
    	});
    </script>