#parse("/WEB-INF/views/common/head.html")
#if( $!error == '1' )
<div class="msg msg-error">当前登录用户没有新增用户权限,请用管理员身份登录！</div>
#else
<form id="role-form" method="post" action="/role/addrole">
    <div>
        <label for="rolename">&nbsp;&nbsp;角色名:</label>
        <input class="easyui-validatebox" type="text" name="rolename" data-options="required:true" />
    </div>
    <div>
    	<input type="submit" value="保存">
    </div>
</form>
#end
<script type="text/javascript" src="/js/module/role.js"></script>
#parse("/WEB-INF/views/common/footer.html")