#parse("/WEB-INF/views/common/head.html")
<div>
	<a id="btn" href="/role/toaddrole" class="easyui-linkbutton">创建权限组</a>
</div>
<br>

<table class="easyui-datagrid">
	<thead>
		<tr>
			<th data-options="field:'rolename'">权限组名称</th>
		</tr>
	</thead>
	<tbody>
		#foreach($!role in $!page.data )
		<tr>
			<td>$!role.rolename</td>
		</tr>
		#end
		#if($!${page.data} == 0 )
		<tr>
			<td>没有找到记录</td>
		</tr>
		#end
	</tbody>

</table>
<div class="comm_page"></div>
<script type="text/javascript" src="/js/module/role.js"></script>
#parse("/WEB-INF/views/common/footer.html")