#if( $!error != '' )
<span>数据异常，您选择的用户不存在或无效！</span>
#else
<form method="post" action="/role/updaterole" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
    <div class="pageFormContent nowrap" layoutH="56">
    	<input type="hidden" name="id" value="$!role.id "/>
        <p>
            <label>角色名:</label>
            <input type="text" name="rolename" class="required" value="$!role.id"/>
        </p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
