<div class="pageContent">
#if( $!error == '1' )
<span>当前登录用户没有新增用户权限,请用管理员身份登录！</span>
#else
<form method="post" action="/role/addrole" class="pageForm required-validate" onsubmit="return validateCallback(this)">
    <div class="pageFormContent nowrap" layoutH="97">
        <dl>
            <dt>角色名:</dt>
            <dd>
                <input type="text" name="rolename" maxlength="20" class="required" />
            </dd>
        </dl>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
</div>