<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	#parse("/WEB-INF/views/common/head.html")
</head>
<body>
<form action="../role/updaterole"  id="roleform"   method="post">
	<input type="hidden" name="id" value="$!role.id "/>
		<table cellspacing="0" cellpadding="0" class="tblBookRec">
			<tr class="line">
				<td>角色名称:<input name="rolename" value="$!role.rolename "/></td>
			</tr>
			<a onclick="submit()" href="javascript:void(0);" id="savenow">保存</a><a>取消</a>
		</table>
	</form>
</body>
<script>
	if($!error!=''){
		$("#savenow").hide();
		alert("数据异常，您选择的用户不存在或无效！");
	}
	function submit(){
		$("#roleform").submit();
	}
</script>
</html>