#parse("/WEB-INF/views/common/head.html")
#if( $!error != '' )
<div class="msg msg-error">数据异常，您选择的用户不存在或无效！</div>
#else
<form id="user-form" method="post" action="/role/updaterole">
    <div>
        <label for="rolename">角色名称:</label>
        <input class="easyui-validatebox" type="text" name="realname" value="$!role.rolename"/>
    </div>
    <div>
    	<input type="hidden" name="id" value="$!role.id "/>
    	<input type="submit" value="保存">
    </div>
</form>
#end
<script type="text/javascript" src="/js/module/role.js"></script>
#parse("/WEB-INF/views/common/footer.html")

