<!-- 动态库存 -->
<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="$!page.currentPageNum" />
	<input type="hidden" name="numPerPage" value="$!page.pageSize" />
</form>
<div class="pageContent">
	<div class="panel" defH="200">
		<h1>证件批次</h1>
		<div>
			<table width="98%" class="list">
				<thead>
					<tr>
						<th>操作时间</th>
						<th>操作类型</th>
						<th>本批可用数</th>
					</tr>
				</thead>
				<tbody>
					<tr class="">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel" defH="200">
		<h1>下属单位汇总数</h1>
		<div>
			<table width="98%" class="list">
				<thead>
					<tr>
						<th>单位</th>
						<th>动态库存</th>
					</tr>
				</thead>
				<tbody>
					<tr class="">
						<td>1</td>
						<td>2</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>