<!-- 证件修改 -->
<div class="pageContent">
<form method="post" action="" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
    <div class="pageFormContent" layoutH="56">
        <p>
            <label>申请单位:</label>
            <input type="text" name="" class="required" />        
        </p>
         <p>
            <label>申请人:</label>
            <input type="text" name=""/>
        </p>
        <p>
            <label>申请时间:</label>
            <input type="text" name=""/>          
        </p>
         <p>
            <label>数量:</label>
            <input type="text" name=""/>
        </p>
        <p>
            <label>当前库存:</label>
            <input type="text" name="" />     
        </p>
        <p>
            <label>备注:</label>
            <input type="text" name="" />     
        </p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
</div>