<!-- 证件入库 -->
<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="$!page.currentPageNum" />
	<input type="hidden" name="numPerPage" value="$!page.pageSize" />
</form>
#parse("/WEB-INF/views/cert/manage/_query.html")
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/test/ajax?id={ids}" target="dialog"><span>证件入库</span></a></li>
			<li><a title="确实要删除这些记录吗?" target="ajaxTodo"    href="/test/ajax?id={ids}" class="delete"><span>手工作废</span></a></li>
		</ul>
	</div>
	<div id="w_list_print">
		<table class="list" width="98%" targetType="navTab" layoutH="115">
			<thead>
				<tr>
					<th><input type="checkbox" group="ids" class="checkboxCtrl"></th>
					<th>起始编号</th>
					<th>终止编号</th>
					<th>入库单位</th>
					<th>入库人姓名</th>
					<th>入库数量</th>
					<th>入库日期</th>
					<th>备注</th>
					<th>当前状态</th>
				</tr>
			</thead>
			<tbody>
				<tr target="id" rel="1">
					<td><input name="ids" value="1" type="checkbox"></td>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
				</tr>
				<tr>
					<td colspan="9">没有找到记录</td>
				</tr>
			</tbody>
		</table>
	</div>
	#parse("/WEB-INF/views/common/pager.html")
</div>