<div class="pageContent">
#if( $!error == '1' )
<span>当前登录用户没有新增用户权限,请用管理员身份登录！</span>
#else
<form method="post" action="/cert/add" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
    <div class="pageFormContent" layoutH="56">
        <p>
            <label>出生证编号：</label>
            <input type="text" name="certCode" class="required" />        
            <label>住院号：</label>
            <input type="text" name="admissionNumber" class="required" />        
        </p>
         <p>
            <label>新生儿姓名：</label>
            <input type="text" name="childName" class="required"/>
            <label>性别：</label>
            <input type="text" name="sex" class="required"/>
            <label>出生日期：</label>
            	
			<input type="text" name="applyStartDateStr" id="applyStartDateStr" readonly="readonly" value="<fmt:formatDate value='${search.applyStartDate }' pattern="yyyy-MM-dd HH:mm:ss" />" class="Wdate" onclick="WdatePicker()"/>
					
             <input readonly="readonly"  name="birthday" type="text" class="Wdate" id="d412" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
        </p>
         <p>
            <label>出生地：</label>
            <input type="text" name="proCode" class="required"/>省
            <input type="text" name="cityCode" class="required"/>市
            <input type="text" name="controyCode" class="required"/>县区
            <input type="text" name="address" class="required"/>乡
            <label>出生孕周：</label>
            <input type="text" name="birthday" class="required"/>周
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
            <label>初始密码:</label>
            <input type="text" name="password" class="required" value="123456"/>
        </p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#applyStartDateStr').focus(function() {
            WdatePicker({
                isShowClear : false,
                dateFmt: 'yyyy-MM-dd HH:mm:ss'
            });
        });
    });