.clearfix{
	clear:both;
}
.checkbox-wrap{
	display: inline-block;
	*display:inline;
	zoom:1;
}
.pageFormContent p{
	height: auto;
}
#header{height:85px}
#leftside, #container, #splitBar, #splitBarProxy{top:90px}