#parse("/WEB-INF/views/common/head.html")
<div id="layout">
    <!-- header -->
    <div id="header">
        <div class="headerNav">
            <!-- <a class="logo" href="/">标志</a> -->
            <ul class="nav">
                <li><a href="javascript:void(0)">Welcome!</a></li>
                <li><a href="/system/logout">退出</a></li>
            </ul>
        </div>
        <div id="navMenu">
            <ul>
            #foreach($!firstModule in $!firstModuleList )
                <li class="selected">
                    <a href="javascript:void(0)" rel="$!{firstModule.authorityRel}">
                        <span>${firstModule.modname}</span>
                    </a>
                </li>
                #end
            </ul>
        </div>
    </div>

    <!-- sidebar -->
    <div id="leftside">
        <div id="sidebar_s">
            <div class="collapse">
                <div class="toggleCollapse">
                    <div></div>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div class="toggleCollapse">
                <h2>系统管理</h2>
                <div>收缩</div>
            </div>

            <div class="accordion" fillSpace="sidebar">
                <!-- <div class="accordionHeader">
                    <h2>
                        <span>Folder</span>
                        系统管理
                    </h2>
                </div> -->
                
                <div class="accordionContent" id="layout-module-tree">
    </div>
                
            </div>
        </div>
    </div>

    <!-- container -->
    <div id="container">
        <div id="navTab" class="tabsPage">
            <div class="tabsPageHeader">
                <div class="tabsPageHeaderContent">
                    <!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
                    <ul class="navTab-tab">
                        <li tabid="main" class="main">
                            <a href="javascript:;">
                                <span>
                                    <span class="home_icon">我的主页</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tabsLeft">left</div>
                <!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
                <div class="tabsRight">right</div>
                <!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
                <div class="tabsMore">more</div>
            </div>
            <ul class="tabsMoreList">
                <li>
                    <a href="javascript:;">我的主页</a>
                </li>
            </ul>
            <div class="navTab-panel tabsPageContent layoutBox">
                <div class="page unitBox">
                    我的主页
                    <div class="pageFormContent" layoutH="80" style="margin-right:230px"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/js/layout/layout.js"></script>
<script>
	$(function() {
	    f.layout.loadTree();
	    
	});
</script>
<!-- footer -->
<div id="footer">Copyright &copy; 2013</div>
#parse("/WEB-INF/views/common/footer.html")