#parse("/WEB-INF/views/common/head.html")
<script>document.body.className = "easyui-layout";</script>

<div data-options="region:'north'" style="height:80px"></div>

<div data-options="region:'west',split:true" title="菜单" style="width:200px;">

    <div class="easyui-accordion">
        <div title="用户管理" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">
            <a href="#" onclick="addTab('用户列表','/user/list')">用户列表</a>
        </div>
    </div>
</div>

<div region="center" id="content" class="easyui-tabs" >
    <div title="Home">
        <table class="easyui-datagrid">
            <thead>
                <tr>
                    <th data-options="field:'itemid'">Item ID</th>
                    <th data-options="field:'productid'">Product</th>
                    <th data-options="field:'listprice',align:'right'">List Price</th>
                    <th data-options="field:'attr1'">Attribute</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EST-1</td>
                    <td>FI-SW-01</td>
                    <td>36.50</td>
                    <td>Large</td>
                </tr>
                <tr>
                    <td>EST-10</td>
                    <td>K9-DL-01</td>
                    <td>18.50</td>
                    <td>Spotted Adult Female</td>
                </tr>
                <tr>
                    <td>EST-11</td>
                    <td>RP-SN-01</td>
                    <td>28.50</td>
                    <td>Venomless</td>
                </tr>
                <tr>
                    <td>EST-12</td>
                    <td>RP-SN-01</td>
                    <td>26.50</td>
                    <td>Rattleless</td>
                </tr>
                <tr>
                    <td>EST-13</td>
                    <td>RP-LI-02</td>
                    <td>35.50</td>
                    <td>Green Adult</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    #content .panel-body{
        overflow: hidden;
    }
</style>
#parse("/WEB-INF/views/common/footer.html")