#parse("/WEB-INF/views/common/head.html")
<script>document.body.className = "easyui-layout";</script>

<div data-options="region:'north'" style="height:80px"></div>

<div data-options="region:'west',split:true" title="菜单" style="width:200px;">

    <div class="easyui-accordion">
        <div title="系统管理" data-options="iconCls:'icon-ok'">
            <a href="/user/list" class="menu-link" title="用户管理">用户管理</a>
            <a href="/role/list" class="menu-link" title="权限管理">权限管理</a>
            <a href="/module/totree" class="menu-link" title="模块管理">模块管理</a>
        </div>
    </div>
</div>

<div region="center" id="content" class="easyui-tabs" >
    <div title="首页">
        首页
    </div>
</div>
#parse("/WEB-INF/views/common/footer.html")