<!-- 查询条件 -->
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="" method="post">
		<div class="searchBar">
			<table class="searchContent">
				<tbody>
					<tr>
						<td>
							儿童姓名:
							<input type="text" name="" value="" class="textInput"></td>
						<td colspan="3">
							出生日期:
							<input type="text" name="" value="" class="date textInput readonly valid" readonly="true">
							至
							<input type="text" name="" value="" class="date textInput readonly valid" readonly="true"></td>
					</tr>
					<tr>
						<td>
							母亲姓名:
							<input type="text" name="" value="" class="textInput"></td>
						<td>
							母亲证件号码:
							<input type="text" name="" value="" class="textInput"></td>
						<td>
							父亲姓名:
							<input type="text" name="" value="" class="textInput"></td>
						<td>
							父亲证件号码:
							<input type="text" name="" value="" class="textInput"></td>
					</tr>
					<tr>
						<td colspan="3">
							建档单位:
							<input type="checkbox" name="" value="" class="toggleDisabled">
							<select name="" disabled="disabled">
								<option value="">选项</option>
							</select>
							<select name="" disabled="disabled">
								<option value="">选项</option>
							</select>
							<select name="" disabled="disabled">
								<option value="">选项</option>
							</select>
							<select name="" disabled="disabled">
								<option value="">选项</option>
							</select>
						</td>
						<td>
							管理单位:
							<select name="">
								<option value="">选项</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">检索</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>