<!-- 签发记录 -->
<div class="pageContent">
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>出生证明编号</th>
            <th>签发日期</th>
            <th>签发人</th>
            <th>签发单位</th>
            <th>签发原因</th>
            <th>备注</th>
            <th>签发类型</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>iso127309</td>
            <td>北京市政府</td>
            <td>0-0001027766351528</td>
            <td>2009-05-21</td>
            <td>0-0001027766351528</td>
            <td>2009-05-21</td>
            <td>2009-05-21</td>
        </tr>
    </tbody>
</table>
</div>