<!-- 待签发列表 -->
<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="$!page.currentPageNum" />
	<input type="hidden" name="numPerPage" value="$!page.pageSize" />
</form>
#parse("/WEB-INF/views/cert/handle/_query.html")
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/test/ajax?id={id}" target="dialog"><span>首次签发</span></a></li>
		</ul>
	</div>
	<div id="w_list_print">
		<table class="list" width="98%" targetType="navTab" layoutH="165">
			<thead>
				<tr>
					<th></th>
					<th>姓名</th>
					<th>父亲</th>
					<th>母亲</th>
					<th>联系方式</th>
					<th>性别</th>
					<th>出生日期</th>
					<th>年龄</th>
					<th>建档人</th>
					<th>建档单位</th>
					<th>建档时间</th>
				</tr>
			</thead>
			<tbody>
				<tr target="id" rel="1">
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
				</tr>
				<tr>
					<td colspan="11">没有找到记录</td>
				</tr>
			</tbody>
		</table>
	</div>
	#parse("/WEB-INF/views/common/pager.html")
</div>