<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="$!page.currentPageNum" />
	<input type="hidden" name="numPerPage" value="$!page.pageSize" />
</form>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="url?id={cid}" target="dialog"><span>换发</span></a></li>
			<li><a class="add" href="url?id={cid}" target="dialog"><span>补发</span></a></li>
			<li class="line hover">line</li>
			<li><a class="add" href="url?id={cid}" target="dialog"><span>签发记录</span></a></li>
			<li><a class="add" href="url?id={cid}" target="dialog"><span>手工作废</span></a></li>
		</ul>
	</div>
	<div id="w_list_print">
		<table class="list" width="98%" targetType="navTab" layoutH="53">
			<thead>
				<tr>
					<th width="22"></th>
					<th width="120">姓名</th>
					<th width="150">父亲</th>
					<th width="150">母亲</th>
					<th width="150">联系方式</th>
					<th width="150">性别</th>
					<th width="200">出生日期</th>
					<th width="150">年龄</th>
					<th width="150">建档人</th>
					<th width="150">建档单位</th>
					<th width="200">建档时间</th>
				</tr>
			</thead>
			<tbody>
				<tr target="cid" rel="">
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
				</tr>
				<tr>
					<td colspan="5">没有找到记录</td>
				</tr>
			</tbody>
		</table>
	</div>
	#parse("/WEB-INF/views/common/pager.html")
</div>