<div class="pageContent">
    <div class="accordionContent" id="region-tree-lookup" layoutH="35">
    </div>
    
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="/js/system/unitregion.js"></script>
<script>
$(function() {
    f.region.loadTree({container:"#region-tree-lookup","lookup":true});
});    
</script>
