<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/module/toaddmodule?moduleid={mid}" target="dialog" warn="请选择一个单位"><span>添加</span></a></li>
			<li><a class="edit" href="/module/toupdate?moduleid={mid}" target="dialog" warn="请选择一个单位"><span>修改</span></a></li>
			<li><a class="delete" href="/module/delnode/{mid}" target="ajaxTodo" title="确定要删除吗？" warn="请选择一个单位"><span>删除</span></a></li>
		</ul>
	</div>
	
	<div class="accordionContent" id="left">
    </div>
</div>
<script src="/js/module/region.tree.js"></script>
$(function() {
    f.module.loadTree();
});