<div class="pageContent">
#if( $!error == '1' )
<span>当前登录用户没有新增用户权限,请用管理员身份登录！</span>
#else
<form method="post" action="/unit/addunit" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
    
    <input type="hidden" name="pid" value="${pid}">
    <div class="pageFormContent" layoutH="56">
        <p>
            <label>单位名称：</label>
            <input type="text" name="name" class="required" />        
        </p>
         <p>
            <label>单位编码：</label>
            <input type="text" name="hosCode" />
        </p>
         <p>
            <label>机构编码：</label>
            <input type="text" name="orgCode" />
        </p>
        <p>
            <label>所在地区：</label>
            <input type="hidden" name="regionCode" value="">
            <input type="text" readonly="" name="regionName" class="textInput readonly">
            <a lookupgroup="" href="/user/grantmodule?userid=3" class="btnLook">查找带回</a>
        </p>
        <p>
            <label>补充地区：</label>
             <input type="text" name="extAddress" />   
        </p>
        <p>
            <label>顺序号：</label>
             <input type="text" name=sort />   
        </p>
        <p>
            <label>妇幼保健院：</label>
             <select class="required" name="isbjy">
             	<option value="">-请选择-</option>
             	<option value="1">是</option>
             	<option value="0">否</option>
             </select>
        </p>
        <p>
            <label>联系人:</label>
            <input type="text" name="contacts" class="required"/>
        </p>
        <p>
            <label>联系电话:</label>
            <input type="text" name="phone" class="required"/>
        </p>
        <p>
            <label>邮政编码:</label>
            <input type="text" name="zipcode" class="required"/>
        </p>
        <p>
            <label>单位性质:</label>
             <select class="required" name="hosProperty">
             	<option value="">-请选择-</option>
             	<option value="1">国企</option>
             	<option value="2">私企</option>
             </select>
        </p>
        <p>
            <label>医院等级:</label>
             <select class="required" name="level">
             	<option value="">-请选择-</option>
             	<option value="1">一级甲等</option>
             	<option value="2">一级乙等</option>
             </select>
        </p>
        <p>
            <label>单位分类:</label>
            <input type="text" name="classifyCode" class="required"/>
        </p>
        <p>
            <label>短信账号:</label>
            <input type="text" name="smsAccount"  />
        </p>
        <p>
            <label>短信编码:</label>
            <input type="text" name="smsPassword" />
        </p>
        <p>
            <label>备注:</label>
            <input type="text" name="remark"  />
        </p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
</div>