<div class="pageContent">
#if( $!error != '' )
<span>数据异常，您选择的用户不存在或无效！</span>
#else
<form method="post" action="/unit/updateunit" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
    
    <input type="hidden" name="id" value="$!{hospital.id}">
    <div class="pageFormContent" layoutH="70">
        <p>
            <label>单位名称：</label>
            <input type="text" name="name" class="required" value="$!{hospital.name}"/>        
        </p>
         <p>
            <label>单位编码：</label>
            <input type="text" name="hosCode" value="$!{hospital.hosCode}"/>
        </p>
         <p>
            <label>机构编码：</label>
            <input type="text" name="orgCode"  value="$!{hospital.orgCode}"/>
        </p>
        <p>
            <label>所在地区：</label>
             <input type="hidden" name="regionCode" value="$!{hospital.regionCode}">
            <input type="text" readonly="" name="regionName" class="textInput readonly">
            <a lookupgroup="" href="/user/grantmodule?userid=3" class="btnLook">查找带回</a>
        </p>
        <p>
            <label>补充地区：</label>
             <input type="text" name="extAddress" value="$!{hospital.extAddress}"/>   
        </p>
        <p>
            <label>顺序号：</label>
             <input type="text" name=sort   value="$!{hospital.sort}"/>   
        </p>
        <p>
            <label>妇幼保健院：</label>
             <select class="required" name="isbjy">
             	<option value="">-请选择-</option>
             	<option value="1" 	#if($!{hospital.isbjy} == 1 ) selected #end>是</option>
             	<option value="0" #if($!{hospital.isbjy} == 0 ) selected #end>否</option>
             </select>
        </p>
        <p>
            <label>联系人:</label>
            <input type="text" name="contacts" class="required"   value="$!{hospital.contacts}"/>
        </p>
        <p>
            <label>联系电话:</label>
            <input type="text" name="phone" class="required"   value="$!{hospital.phone}"/>
        </p>
        <p>
            <label>邮政编码:</label>
            <input type="text" name="zipcode" class="required"  value="$!{hospital.zipcode}"/>
        </p>
        <p>
            <label>单位性质:</label>
             <select class="required" name="hosProperty">
             	<option value="">-请选择-</option>
             	<option value="1" #if($!{hospital.hosProperty} == 1 ) selected #end>国企</option>
             	<option value="2" #if($!{hospital.hosProperty} == 2 ) selected #end>私企</option>
             </select>
        </p>
        <p>
            <label>医院等级:</label>
             <select class="required" name="level">
             	<option value="">-请选择-</option>
             	<option value="1" #if($!{hospital.level} == 1 ) selected #end>一级甲等</option>
             	<option value="2" #if($!{hospital.level} == 2 ) selected #end>一级乙等</option>
             </select>
        </p>
        <p>
            <label>单位分类:</label>
            <input type="text" name="classifyCode" class="required"   value="$!{hospital.classifyCode}"/>
        </p>
        <p>
            <label>短信账号:</label>
            <input type="text" name="smsAccount"   value="$!{hospital.smsAccount}"/>
        </p>
        <p>
            <label>短信编码:</label>
            <input type="text" name="smsPassword"   value="$!{hospital.smsPassword}"/>
        </p>
        <p>
            <label>备注:</label>
            <input type="text" name="remark"  value="$!{hospital.remark}" />
        </p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
</div>
