<div class="pageContent">
#if( $!error == '1' )
<span>当前登录用户没有新增用户权限,请用管理员身份登录！</span>
#else
<form method="post" action="/module/addnode" class="pageForm required-validate" onsubmit="return validateCallback(this,finishAjaxDone)">
    <div class="pageFormContent" layoutH="56">
        <p>
            <label>模块名称:</label>
            <input type="text" name="name" class="required" />
        </p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
#end
</div>