<form id="pagerForm" method="post" action="/doctor/list">
	<input type="hidden" name="pageNum" value="$!page.currentPageNum" />
	<input type="hidden" name="numPerPage" value="$!page.pageSize" />
</form>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/doctor/toadd" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="/doctor/toupdate?doctorid={did}" target="dialog" warn="请选择一条记录"><span>修改</span></a></li>
			<li><a title="确实要删除该条记录吗?" target="ajaxTodo"    href="/doctor/delDoctor/{did}" class="delete"><span>删除</span></a></li>
		</ul>
	</div>
	<div id="w_list_print">
		<table class="list" width="100%" targetType="navTab" layoutH="53">
			<thead>
				<tr>
					<th>用户名</th>
					<th>姓名</th>
					<th>性别</th>
					<th>联系电话</th>
					<th>所在科室</th>
					<th>职称</th>
					<th>所在单位</th>
					<th>是否医生</th>
					<th>是否停用</th>
				</tr>
			</thead>
			<tbody>
				#foreach($!doctor in $!page.data )
				<tr target="did" rel="$!{doctor.id}">
					<td>$!doctor.username</td>
					<td>$!doctor.name</td>
					<td>$!doctor.sex</td>
					<td>$!doctor.phone</td>
					<td>$!doctor.officeCode</td>
					<td>$!doctor.offerTitle</td>
					<td>$!doctor.hospitalName</td>
					<td>$!doctor.isdoctor</td>
					<td>$!doctor.status</td>
				</tr>
				#end
				#if($!{page.data} == 0 )
				<tr>
					<td colspan="6">没有找到记录</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>
	#parse("/WEB-INF/views/common/pager.html")
</div>